body{
  text-align: center;
  background-color: aqua;
}


#quote-box{
   background-color: white;
   margin: 15% auto 1% auto;
   width: 40%;
   height: auto;
   border: 3px solid green;
   padding: 5vh;
}

#text{
font-size: 130%;
}

#author{
width: 450px;
margin-top: 5px;

text-align: right;

}

#buttons{
  margin-top: 10px;
  display: block;
  height: 50px;

}

.button{
height: 38px;
border: none;
border-radius: 3px;
color: black;
background-color: aqua;
outline: none;
font-size: 0.85em;
/* padding: 8px 18px 6px 18px; */
margin-top: 30px;
opacity: 1;
cursor: pointer;
}


#new-quote{
margin-top: 10px;
float: right;
}

#new-quote:hover{
 cursor: pointer;
 background-color: lightblue;
}

#tweet-quote{
}
#tweet-quote img{
  margin: 10px;
  float:left;
}

#tweet-quote:hover{
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Trying an animation but need to use script */
